
.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 300px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 5000;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3em;
  color: #404040;
}

.featured-image-block a:hover p {
  color: #1779ba;
}
