
.marketing-site-hero {
  background: url( https://drive.google.com/uc?export=view&id=1nCXGwvqFVJs19K1-yFVyPdJxr_BidXPd ) top right no-repeat;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: #000000;
}

.marketing-site-hero-content h1 {
  font-size: 50px;
}
  .marketing-site-hero-content p {
    font-size: 18px;
    color: #000000

}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero-content {
    padding-left: 50%;
  }
}
